* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  list-style: none !important;
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
}

img {
  width: 100%;
  height: auto;
}

a,
a:hover,
a:focus {
  color: inherit;
}

body {
  font-family: "Raleway", san-serif;
  position: relative;
  font-size: 16px;
  line-height: 1.65;
  color: #484848;
  -webkit-font-smoothing: antialiased;
}

p {
  font-size: 16px;
  line-height: 1.65;
  font-family: "Open Sans", sans-serif;
}

span {
  display: inline-block;
}

.heading {
  margin-bottom: 50px;
}

.heading h6 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.heading h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}

.bg-gray {
  background-color: #f2f2f2;
}

.main-btn {
  display: inline-block;
  background-color: #222;
  padding: 10px 20px;
  border: 2px solid #222;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: .2s background-color ease;
  -o-transition: .2s background-color ease;
  transition: .2s background-color ease;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.main-btn:hover {
  color: #222;
  background-color: transparent;
}

.bread-crumb a {
  color: #fff;
  display: inline-block;
  margin: 0 10px;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
}

.bread-crumb a:before {
  content: "/";
  position: absolute;
  right: -15px;
}

.bread-crumb a:last-child:before {
  display: none;
}

blockquote {
  font-size: 15px;
  color: #222;
  border-left: 4px solid #222;
  padding-left: 20px;
  margin: 40px 0;
  font-weight: 500;
}

.preloader {
  position: fixed;
  background-color: #fff;
  z-index: 9999;
  height: 100%;
  width: 100%;
  -webkit-transition: .1s all ease;
  -o-transition: .1s all ease;
  transition: .1s all ease;
  -webkit-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s;
}

.preloader.loaded {
  opacity: 0;
  visibility: hidden;
}

.preloader:before,
.preloader:after {
  content: "";
  position: absolute;
  height: 50%;
  width: 100%;
  background-color: #222;
  -webkit-transition: .5s all ease;
  -o-transition: .5s all ease;
  transition: .5s all ease;
}

.preloader:before {
  top: 0;
  left: 0;
}

.preloader:after {
  bottom: 0;
  left: 0;
}

.preloader.loaded:before,
.preloader.loaded:after {
  height: 0%;
}

.preloader .loader {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #fff;
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
  -webkit-animation: 1s infinite ease-in-out;
  animation: 1s infinite ease-in-out;
}

.preloader .loader:before,
.preloader .loader:after {
  -webkit-animation: .8s infinite ease-in-out;
  animation: .8s infinite ease-in-out;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.preloader .loader:before {
  content: '';
  border: 10px solid #222;
  top: -10px;
  left: -10px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-animation-name: anim-loader;
  animation-name: anim-loader;
}

.preloader.loaded .loader {
  opacity: 0;
}

@-webkit-keyframes anim-loader {
  0% {
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}

@keyframes anim-loader {
  0% {
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}

nav.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 999;
  padding-top: 30px;
  padding-bottom: 20px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

nav.navbar .logo {
  font-size: 22px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

nav.navbar .navbar-toggler {
  border: 0;
}

nav.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav.navbar .nav-item {
  font-size: 13px;
  font-weight: 400;
  padding-right: 13px;
  padding-left: 13px;
  color: #fff;
  text-transform: uppercase;
}

nav.navbar .nav-item:first-child {
  padding-left: 0;
}

nav.navbar .nav-item:last-child {
  padding-right: 0;
}

nav.navbar .nav-item .nav-link {
  color: #fff;
  position: relative;
  text-decoration: none;
  padding: 0;
}

nav.navbar .nav-item .nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav.navbar .nav-item .nav-link.active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

nav.fixed-top {
  position: fixed;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
}

nav.fixed-top .logo {
  color: #000;
}

nav.fixed-top .logo:focus,
nav.fixed-top .logo:hover {
  color: #000;
}

nav.fixed-top .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav.fixed-top .nav-item {
  color: #000;
}

nav.fixed-top .nav-item .nav-link {
  color: #000 !important;
}

nav.fixed-top .nav-item .nav-link:before {
  background-color: #000;
}

.banner {
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.banner:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  z-index: 2;
  opacity: .5;
}

.banner .banner-caption {
  top: 50%;
  position: absolute;
  color: #fff;
  z-index: 11;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.banner .banner-caption h1 {
  font-size: 88px;
  font-weight: 900;
  color: #fff;
}

.banner .banner-caption p {
  font-size: 24px;
  font-family: "Raleway", san-serif;
  color: #eee;
}

.cd-headline {
  font-size: 3rem;
  line-height: 1.2;
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.no-js .cd-words-wrapper b {
  opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}


/* xclip */

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 10%;
  right: 0;
  width: 2px;
  height: 70%;
  background-color: #aebcb9;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
  font-weight: 700;
}

.arrow {
  position: absolute;
  bottom: 10vh;
  width: 100vw;
  z-index: 11;
  padding-left: 75px;
}

.arrow a {
  color: #fff;
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
  40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
  }
  60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
  40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
  }
  60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
  }
}
